.auth__show-password {
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  background-color: #000;
  border-radius: 2px;
  transition: all 0.5s;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.45;
}

.auth__show-password:hover {
  opacity: 1;
}
