.popup__input {
  border: none;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 358px;
  height: 22px;
  margin: 0 0 0 36px;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.popup__input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.popup__input:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  .popup__input {
    width: 238px;
    margin: 0 auto;
  }
}
