.header__burger {
  width: 20px;
  height: 20px;
  display: none;
  cursor: pointer;
  background-color: #000;
  border: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header__burger:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .header__burger {
    display: flex;
  }
}
