.profile__name {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
  max-width: 294px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  align-self: flex-end;
}
@media screen and (max-width: 934px) {
  .profile__name {
    padding-left: 26px;
    font-size: 27px;
    line-height: 33px;
  }
}
