.auth__input {
  border: none;
  display: block;
  border-bottom: 2px solid #ccc;
  width: 358px;
  height: 27px;
  margin: 0 auto;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ccc;
  background-color: #000;
}

.auth__input::placeholder {
  color: #ccc;
}

.auth__input:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  .auth__input {
    width: 260px;
  }
}
